* {
    margin: 0;
}

/* Properties */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

/* Modules */
/* Layer Opacity */
.layer_opacity {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    margin-top: 103px;
    z-index: 2;
    transition: 0.6s ease-in;
    transition: 0.2s ease-out;
}

/* Header */
header .header-container-1 {
    width: 25%;
    display: flex;
    align-items: center;
}

header .header-container-1 div {
    width: 100%;
}

header .header-container-1 .menu {
    display: flex;
}

header .header-container-1 .menu button {
    color: #666666;
    line-height: 30px;
    background: #ffffff;
    display: flex;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 10px;
}

header .header-container-1 .menu button img {
    margin-top: 4px;
    margin-right: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

header .header-container-2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .header-container-2 .search-container {
    margin: 10px 0;
    height: 38px;
    position: relative;
}

header .header-container-2 .search-container input#search {
    color: #666666;
    height: 100%;
    width: 180px;
    float: left;
    border: none;
    padding-left: 45px;
    border-radius: 5px;
    background: #e8ecf3;
    outline: none;
    transition: 0.3s ease-in-out;
}

header .header-container-2 .search-container .icon {
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
    color: #7088a9;
}

header .header-container-2 .search-container .icon i {
    transition: 0.2s ease-in-out;
}

header .header-container-2 .search-container input#search:focus {
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 0 2px 1px #ff9900;
}

/* Navigation */
nav {
    background: #ff9900;
    width: 100%;
}

nav .sub-menu {
    text-align: center;
    width: 100%;
    line-height: 45px;
    background: #ff9900;
    border-left: #ffbb33 solid 1px;
    border-right: #ffbb33 solid 1px;
    position: relative;
}

nav .sub-menu:nth-child(2),
nav .sub-menu:nth-child(3),
nav .sub-menu:nth-child(4),
nav .sub-menu:nth-child(5),
nav .sub-menu:nth-child(6),
nav .sub-menu:nth-child(7),
nav .sub-menu:nth-child(8),
nav .sub-menu:nth-child(9),
nav .sub-menu:nth-child(10),
nav .sub-menu:nth-child(11),
nav .sub-menu:nth-child(12) {
    margin-left: -1px;
}

nav .sub-menu:hover {
    background: #ffaa00;
    cursor: pointer;
}

nav .sub-menu a {
    color: #ffffff;
    text-decoration: none;
}

nav .sub-menu .subject {
    display: none;
    position: absolute;
    background: #ffffff;
    z-index: 2;
}

nav .sub-menu:hover .subject {
    display: flex;
    margin-left: -1px;
    padding: 15px 0 0 5px;
    box-shadow: 10px 10px 5px 0.1px #666666;
}

nav .sub-menu:nth-child(10):hover .subject, 
nav .sub-menu:nth-child(11):hover .subject, 
nav .sub-menu:nth-child(12):hover .subject,
nav .sub-menu:last-child:hover .subject {
    margin-left: -227px;
}

nav .sub-menu .subject .subject-column3 {
    display: flex;
    align-items: flex-end;
}

nav .sub-menu .subject .subject-column1 div,
.sub-menu .subject .subject-column2 div {
    width: 100px;
    line-height: 30px;
    border: #ffffff solid 2px;
    border-radius: 20px;
    margin: 10px;
    text-align: start;
    padding-left: 5%;
}

nav .sub-menu .subject .subject-column1 div:last-child {
    margin-bottom: 15px;
}

nav .sub-menu .subject .subject-column1 div a,
.sub-menu .subject .subject-column2 div a {
    color: #666666;
}

@keyframes border-tranform {
    0% {
        border-radius: 5px;
    }
    10% {
        border-radius: 10px;
    }
    100% {
        border-radius: 20px;
    }
}

nav .sub-menu .subject div div:hover {
    border: #ff9900 solid 2px;
    animation: border-tranform 0.2s;
}

nav .sub-menu .subject div div:hover a {
    color: #ff9900;
}

/* Banner Homepage */
#banner-hp {
    background: url('../images/homepage/banner.png');
    height: 230px;
    background-position: center;
    background-size: contain;
}

/* Content Homepage */
#content {
    background: #f1f1f1;
    padding: 40px 0px;
}

.tab-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    margin: 0 auto;
}

.tab-heading .tab-heading-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: #dddddd solid 1px;
    margin-bottom: 10px;
}

.tab-heading .tab-heading-container div {
    width: 20%;
    height: 50px;
}

.tab-heading .tab-heading-container div:first-child {
    line-height: 50px;
    position: relative;
    color: #444444;
}

.tab-heading .tab-heading-container div:first-child .trash-box {
    margin-top: 47px; 
    position: absolute; 
    height: 1px; 
    background: #ff9900; 
    border: #ff9900 solid 1px; 
    border-radius: 10px;
}

.tab-heading .tab-heading-container div:nth-child(2) {
    width: 40%;
    padding-top: 10px;
    margin-left: -33%;
    box-sizing: border-box;
    z-index: 1;
}

.tab-heading .tab-heading-container div:nth-child(2) button {
    color: #26af92;
    border: #26af92 solid 2px;
    background: #f1f1f1;
    border-radius: 15px;
    outline: none;
    width: 18%;
    padding: 5px 0;
    transition: 0.2s ease-in-out;
}

.tab-heading .tab-heading-container div:nth-child(2) button:hover {
    color: #ffffff;
    background: #26af92;
    cursor: pointer;
}

.tab-heading .tab-heading-container div:last-child {
    display: flex;
    color: #26af92;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.tab-heading .tab-heading-container div:last-child a {
    color: #26af92;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.tab-heading .tab-heading-container div:last-child a i {
    margin-left: 2px;
    transition: 0.2s ease-in-out;
}

.tab-heading .tab-heading-container div:last-child a:hover {
    text-decoration: underline;
    text-decoration-color:#26af92;
}

.tab-heading .tab-heading-container div:last-child a:hover i {
    transform: translateX(2px);
}

.tab-post {
    display: flex;
    flex-wrap: wrap;
    margin: auto -20px;
    margin-bottom: 20px;
}

.post-model {
    margin: 15px 2%;
    padding: 15px 1%;
    width: 44%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-model:hover {
    transform: translateZ(3px);
    box-shadow: 0 0 5px 0.5px #ff9900;
    cursor: pointer;
}

.post-model:hover .post-title a {
    color: #ff9900;
}

.post-model div {
    width: 100%;
    margin: 2px 0px;
}

.post-model .post-title a {
    color: #444444;
    text-decoration: none;
}

.post-model .post-content {
    color: #888888;
}

.post-model .post-heading .post-author {
    color: #26af92; 
    width: 25%;
}

.post-model .post-heading .post-info {
    text-align: end;
    width: 17%;
}

.post-model .post-heading .post-info div {
    color: #999999;
    width: 50%;
}

.post-model .post-heading .post-info div img {
    margin-right: 10%;
}

/* Service */
#service {
    padding-bottom: 20px;
}

#service-header {
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #444444;
}

#service-info div .service-icon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#service-info div .service-content .content-heading {
    color: #444444;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#service-info div .service-content .content-detail {
    height: 65px;
    color: #999999; 
    display: flex;
    text-align: center;
    align-items: center;
}

/* Footer */
footer {
    background: #2f3b4d;
}

footer .logo {
    justify-content: center;
}

footer .logo a {
    margin: 30px 0;
}

footer .menu {
    width: 100%;
    border-top: #444f5f solid 1px;
    border-bottom: #444f5f solid 1px;
    display: flex;
    align-items: center;
}

footer .menu .menu-tab {
    height: 14px;
    width: 100%;
    display: flex; 
    margin: 23px 0;
}

footer .menu .menu-tab div {
    padding: 0px 45px;
    text-align: center;
}

footer .menu .menu-tab div:nth-child(2),
footer .menu .menu-tab div:nth-child(3),
footer .menu .menu-tab div:nth-child(4),
footer .menu .menu-tab div:nth-child(5),
footer .menu .menu-tab div:nth-child(6) {
    border-left: #acafb5 solid 1px;
    border-right: #acafb5 solid 1px;
}

footer .menu .menu-tab div a {
    color: #acafb5;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

footer .menu .menu-tab div a:hover {
    color: #ff9900;
}

footer .menu .menu-tab div:nth-child(3),
footer .menu .menu-tab div:nth-child(4),
footer .menu .menu-tab div:nth-child(5),
footer .menu .menu-tab div:nth-child(6) {
    margin-left: -1px;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #acafb5;
}

footer .copyright p {
    margin: 20px 0;
}

/* Fonts */
@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}

.f-regular-30 {
    font-family: Roboto-Regular;
    font-size: 30px;
}

.f-regular-20 {
    font-family: Roboto-Regular;
    font-size: 20px;
}

.f-regular-15 {
    font-family: Roboto-Regular;
    font-size: 15px;
}

.f-regular-14 {
    font-family: Roboto-Regular;
    font-size: 14px;
}

.f-regular-13 {
    font-family: Roboto-Regular;
    font-size: 13px;
}

.f-regular-12 {
    font-family: Roboto-Regular;
    font-size: 12px;
}

.f-medium-17 {
    font-family: Roboto-Medium;
    font-size: 17px;
}

.f-medium-15 {
    font-family: Roboto-Medium;
    font-size: 15px;
}

.f-medium-13 {
    font-family: Roboto-Medium;
    font-size: 13px;
}

.f-medium-12 {
    font-family: Roboto-Medium;
    font-size: 12px;
}

.f-bold-30 {
    font-family: Roboto-Bold;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .layer_opacity {
        margin-top: 55px;
        width: 0;
    }

    header {
        display: none;
    }
    
    .mobile-header {
        background: #ff9900;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0;
    }

    .mobile-header #icon-nav {
        background: #df9f20;
        display: block;
        color: #ffffff;
        width: 15%;
        height: 35px;
        margin-left: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }

    .mobile-header .search-container {
        display: block;
        height: 35px;
        width: 80%;
        padding: 4px 5%;
        position: relative;
    }

    .mobile-header .search-container input {
        color: #666666;
        height: 31px;
        width: 100%;
        border: none;
        padding-left: 10px;
        border-radius: 5px;
        outline: none;
    }

    .mobile-header .search-container .icon {
        position: absolute;
        margin-left: 83%;
        margin-top: 9px;
        color: #7088a9;
    }

    nav {
        width: 0%;
        position: fixed;
        z-index: 3;
        top: 0;
        transition: 0.5s ease-in-out;
    }

    nav .nav-mobile-container {
        display: none;
    }

    nav .logo {
        background: #ffffff;
        padding: 10px 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav .logo a {
        display: block;
    }

    nav .logo i {
        display: block;
        font-size: 130%;
        color: #26af92;
    }

    nav .menu-name {
        width: 100%;
        display: block;
        background: #26af92;
        color: #ffffff;
        display: flex;
        padding: 20px 5%;
    }

    nav .menu-name p {
        font-family: Roboto-Regular;
        font-size: 17px;
    }

    nav .container {
        flex-direction: column;
        width: 100%;
    }

    nav .sub-menu {
        text-align: start;
        border: none;
        padding: 10px 5%;
        display: flex;
        justify-content: space-between;
    }

    nav .sub-menu:nth-child(2),
    nav .sub-menu:nth-child(3),
    nav .sub-menu:nth-child(4),
    nav .sub-menu:nth-child(5),
    nav .sub-menu:nth-child(6),
    nav .sub-menu:nth-child(7),
    nav .sub-menu:nth-child(8),
    nav .sub-menu:nth-child(9),
    nav .sub-menu:nth-child(10),
    nav .sub-menu:nth-child(11),
    nav .sub-menu:nth-child(12) {
        margin-left: 0;
    }

    nav .sub-menu a {
        font-size: 17px;
    }

    nav .sub-menu .icon-down {
        display: block;
        color: #ffffff;
        font-size: 140%;
        background: #df9f20;
        width: 15%;
        text-align: center;
    }

    nav .container .sub-menu .subject {
        flex-direction: column;
        background: #26af92;
        box-shadow: none;
    }

    nav .container .sub-menu .subject div div {
        border: none;
    }

    nav .container .sub-menu .subject div div a {
        color: #ffffff;
    }

    nav .container .sub-menu .subject .subject-column3 {
        display: none;
    }

    #banner-hp {
        display: none;
    }

    #content {
        padding: 20px 0;
    }

    .f-regular-30 {
        font-family: Roboto-Regular;
        font-size: 25px;
    }

    .tab-heading {
        padding: 0 1%;
    }

    .tab-heading .tab-heading-container {
        padding: 0 1%;
    }
    
    .tab-heading .tab-heading-container div:first-child {
        width: 35%;
    }

    .tab-heading .tab-heading-container div:nth-child(2) {
        display: none;
    }

    .tab-post {
        margin: 0 0 10px 0;
    }

    .post-model {
        margin: 10px 3%;
        padding: 10px 2%;
        width: 95%;
    }

    .post-model .post-heading .post-author {
        width: 35%;
    }
    
    .post-model .post-heading .post-info {
        width: 25%;
    }

    #service {
        display: none;
    }

    footer .menu .menu-tab {
        display: none;
    }

    footer .logo a {
        margin: 10px 0;
    }

    footer .copyright p {
        margin: 5px 0;
    }
}