<!DOCTYPE html>
<html lang="en">
<head>
    <title>Colors</title>
</head>
<body>
    <table style="width: 60%; margin: auto;">
        <tr>
            <th>Mã màu</th>
            <th>Tên (Optional)</th>
            <th>Ghi chú</th>
        </tr>
        <tr>
            <td style="background-color: #444444">#444444</td>
            <td>text-dark1</td>
            <td>Màu chữ chủ đạo</td>
        </tr>
        <tr>
            <td style="background-color: #666666">#666666</td>
            <td>text-dark2</td>
            <td>Màu chữ các chủ đề trong menu khi hover</td>
        </tr>
        <tr>
            <td style="background-color: #888888">#888888</td>
            <td>text-dark2</td>
            <td>Màu chữ trong Post Content và Post Info</td>
        </tr>
        <tr>
            <td style="background-color: #999999">#999999</td>
            <td>text-dark3</td>
            <td>Trang chủ: Màu chữ content phần service</td>
        </tr>
        <tr>
            <td style="background-color: #ffffff">#ffffff</td>
            <td>col-white</td>
            <td>Màu chữ NavBar/Footer <br><br> Màu Background Header Top</td>
        </tr>
        <tr>
            <td style="background-color: #26af92">#26af92</td>
            <td>col-green</td>
            <td>Trang chủ: Màu Tab/Text <br><br> Author các bài viết</td>
        </tr>
        <tr>
            <td style="background-color: #7088a9">#7088a9</td>
            <td>col-blue</td>
            <td>Màu Chữ thanh Search</td>
        </tr>
        <tr>
            <td style="background-color: #f1f1f1">#f1f1f1</td>
            <td>bg-main</td>
            <td>Màu Background Content</td>
        </tr>
        <tr>
            <td style="background-color: #2f3b4d">#2f3b4d</td>
            <td>bg-footer</td>
            <td>Màu Background Footer</td>
        </tr>
        <tr>
            <td style="background-color: #ff9900">#ff9900</td>
            <td>bg-nav</td>
            <td>Màu Background NavBar <br><br> Màu Đề mục khi Hover trong Bảng hiện ra khi Hover NavBar <br><br> Màu Button trang hiện tại trong phân trang</td>
        </tr>
        <tr>
            <td style="background-color: #e8ecf3">#e8ecf3</td>
            <td>bg-search</td>
            <td>Màu Background Search</td>
        </tr>
        <tr>
            <td style="background-color: #ffaa00">#ffaa00</td>
            <td>bg-nav-hover</td>
            <td>Màu NavBar khi Hover</td>
        </tr>
        <tr>
            <td style="background-color: #ffbb33">#ffbb33</td>
            <td>border-nav</td>
            <td>Màu Border NavBar</td>
        </tr>
        <tr>
            <td style="background-color: #f7f8fa">#f7f8fa</td>
            <td>bg-head-post</td>
            <td>Màu post-head chi tiết</td>
        </tr>
        <tr>
            <td style="background-color: #3c68b3">#3c68b3</td>
            <td>comment-nvl</td>
            <td>Màu tên User/Views/Likes Comment</td>
        </tr>
        <tr>
            <td style="background-color: #9ec1e9">#9ec1e9</td>
            <td>comment-info</td>
            <td>Màu Info Comment</td>
        </tr>
    </table>
    <style>
        table, td, th {
            border-style: solid;
            border-width: thin;
            border-collapse: collapse;
            min-height: 40px;
            padding: 10px;
        }
    </style>
</body>
</html>