<!DOCTYPE html>
<html lang="en">
<head>
    <title>Images</title>
</head>
<body>
    <table style="width:80%; margin: auto;">
        <tr>
            <th style="width:10%">Trang</th>
            <th style="width:40%">Hình ảnh</th>
            <th style="width:20%">Kích thước</th>
            <th style="width:30%">Ghi chú</th>
        </tr>
        <tr>
            <td rowspan="7">Ảnh chính</td>
            <td class="col">
                <img src="../../assets/images/all/logo.png">
            </td>
            <td>128x51</td>
            <td>Logo</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/all/logo-web.png">
            </td>
            <td>44x38</td>
            <td>Logo trên Trình duyệt</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/all/search.png">
            </td>
            <td>21x18</td>
            <td>header: Icon search</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/all/header-subject.png">
            </td>
            <td>23x20</td>
            <td>header: Icon subject</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/all/banner.png">
            </td>
            <td>1600x99</td>
            <td>Banner các trang Tìm kiếm</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/all/banner-mobile.png">
            </td>
            <td>470x99</td>
            <td>Banner Mobile các trang Tìm kiếm</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/all/1.png">
                <img src="../../assets/images/all/2.png">
                <img src="../../assets/images/all/3.png">
                <img src="../../assets/images/all/4.png">
                <img src="../../assets/images/all/5.png">
                <img src="../../assets/images/all/6.png">
                <img src="../../assets/images/all/7.png">
                <img src="../../assets/images/all/8.png">
                <img src="../../assets/images/all/9.png">
                <img src="../../assets/images/all/10.png">
                <img src="../../assets/images/all/11.png">
                <img src="../../assets/images/all/12.png">
            </td>
            <td>69x69</td>
            <td>Icon khi hover NavBar</td>
        </tr>
        <tr>
            <td rowspan="7">Ảnh Trang chủ</td>
            <td class="col">
                <img src="../../assets/images/homepage/banner.png">
            </td>
            <td>1600x235</td>
            <td>Banner</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/homepage/icon-all.png">
            </td>
            <td>4x7</td>
            <td>Icon thanh Tab phần content</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/homepage/icon-download.png">
            </td>
            <td>63x63</td>
            <td>Icon Download phần service</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/homepage/icon-file.png">
            </td>
            <td>52x63</td>
            <td>Icon File phần service</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/homepage/icon-pc.png">
            </td>
            <td>68x63</td>
            <td>Icon PC phần service</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/homepage/icon-heart.png">
            </td>
            <td>13x12</td>
            <td>Icon Lượt Likes</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/homepage/icon-view.png">
            </td>
            <td>16x10</td>
            <td>Icon Lượt Views</td>
        </tr>
        <tr>
            <td rowspan="3">Ảnh Trang chi tiết bài viết</td>
            <td class="col">
                <img src="../../assets/images/detail/advertiment.png">
            </td>
            <td>303x605</td>
            <td>Quảng cáo</td>
        </tr>
        <tr>
            <td class="col">
                <img src="../../assets/images/detail/comment.png">
            </td>
            <td>809x570</td>
            <td>Comments</td>
        </tr>
    </table>
    <style>
        table,
        td,
        th {
            border-style: solid;
            border-width: thin;
            border-collapse: collapse;
            min-height: 40px;
            padding: 10px;
        }

        img {
            max-width: 100%;
        }

        .col {
            background-color: lightgoldenrodyellow;
        }
    </style>
</body>
</html>